@model Clinic_Management_System.Models.SupplierViewModel
<link href="@Url.Content("~/Content/Sidebar.css")"
      rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "EditProfile";
}

@{
    Html.RenderPartial("Supplier_Sidebar");
}

<h1 align="center" style=" font-weight:bolder">Update Profile</h1>
<hr />
@using (Html.BeginForm("EditProfile", "Supplier", FormMethod.Post))
{
    <div class="main">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>First Name</label>
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control roundedinput" })
                </div>
            </div>
            <div class=" col-sm-6">
                <div class="form-group">
                    <label>Last Name</label>
                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control roundedinput" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-6">
                <div class="form-group">
                    <label>Compant Name</label>
                    @Html.TextBoxFor(a => a.CompanyName, new { @class = "form-control roundedinput" })
                </div>
            </div>
            <div class=" col-sm-6">
                <div class="form-group">
                    <label>Company Address</label><br />
                    @Html.TextBoxFor(a => a.CompanyAddress, new { @class = "form-control roundedinput" })
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <button type="submit" value="Update" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
}

