@model Clinic_Management_System.Models.LoginViewModel

<link href="@Url.Content("~/Content/Sidebar.css")"
      rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Change_Password";
}

@{
    Html.RenderPartial("Patient_Sidebar");
}

<h1 align="center" style="font-weight:bolder">Update Password</h1>
<hr />
@using (Html.BeginForm("Change_Password", "Patient", FormMethod.Post))
{
    <div class="row  justify-content-center">

        <label> Old Password </label>
    </div>
    <div class="row  justify-content-center">

        @Html.TextBoxFor(a => a.Old_Password, new { @class = "roundedinput" , Type="password"  })
        @Html.ValidationMessageFor(a => a.Old_Password, "", new { @class = "text-danger" })

    </div>
    <div class="row  justify-content-center">

        <label> New Password </label>
    </div>
    <div class="row  justify-content-center">

        @Html.TextBoxFor(a => a.PassWord, new { @class = "roundedinput" , Type="password"   })
        @Html.ValidationMessageFor(a => a.PassWord, "", new { @class = "text-danger" })

    </div>
    <div class="row  justify-content-center">

        <label> Confirm Password </label>

    </div>
    <div class="row  justify-content-center">

        @Html.TextBoxFor(a => a.Confirm_Password, new { @class = "roundedinput" , Type="password"  })
        @Html.ValidationMessageFor(a => a.Confirm_Password, "", new { @class = "text-danger" })

    </div>
    <div class="row justify-content-center">
        <button type="submit" value="Update" class="btn btn-success">Submit</button>
    </div>

    <div class="text-danger form-group">
        @ViewBag.message
    </div>

}

