@model Clinic_Management_System.Models.DrugViewModel
@{
    ViewBag.Title = "View_Order_Details";
}

@{
    Html.RenderPartial("Patient_Sidebar");
}

<h1 align="center" style="font-weight:bolder">Order Details</h1>
<hr />
<div class="main">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Order Number</th>
            <th>Drug Name</th>
            <th>Quantity</th>
            <th>Ordered Date</th>
            <th>Order Status</th>
        </tr>

        @if (Model.lstData.Count == 0)
        {
            <tr>
                <td colspan="5" align="center">No Data Found</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.lstData)
            {
                <tr>
                    <td>@item.OrderNumber</td>
                    <td>@item.DrugName</td>
                    <td>@item.Quantity</td>
                    <td>@item.OrderDate.ToString("dd-MMM-yyyy")</td>
                    <td>@item.OrderStatus</td>
                </tr>
            }
        }
    </table>
</div>

